
All the code was written on Spyder IDE on anaconda environment. The code is run on ipython console block by block by selecting the section and pressing cmd+enter to execute. The console keeps running in the background so section once executed need not to be executed again and again. If only you make changes in the executed dataframes the code needs to be re-run. Most of the libraries are pre-installed in anaconda but tensorflow, keras, theano, pytorch etc need to be installed explicitly.(Just google) The tensorflow code for latent factor model needs to be run on a GPU. Floyd hub provides 100 hours of free GPU so after reading their documentation you can upload your data and run the code to be trained in lesser time.
